body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #3f87a6, #ebf8e1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
  }
  